@keyframes flasher
{
from {opacity: 1; transform: translateY (0);}
to {opacity: 0; transform: translateY:(-200px;);}
}

@-webkit-keyframes flasha
{
from {opacity: 1;}
to {opacity: 0;}
}


div,h1,h2,h3,p,* {margin: 0px; padding: 0px;}
body {width: 100%;}
.wrapper,  .main {margin-right: auto; margin-left: auto; background-color: #A4A4A4;
border-radius: 18px;
moz-border-radius: 18px;
webkit-border-radius: 18px;
width: 1024px; }
.wrapper .float {margin-left: 15px;}
.wrapper .float h1 {font-family: 'Ranchers', cursive ;font-size: 38px; margin-bottom: 1px; font-weight: bolder;
 color: yellow; text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     margin-bottom: -10px;
 	 padding-bottom: -10px; clear: none; 
         
}
.wrapper .float h3 {font-style: italic;clear:both;font-size: 23px; margin-top: -10px; padding-top: -10px;
	font-family: 'Keania One', cursive; color: #fefefe; text-shadow: 0px 2px #F54011;}
.wrapper .login { float: right;}
.wrapper .login form { margin-top: 0.530833333%;}
.wrapper .login input {width: 15.625%; position:relative;}
.wrapper .login input[type=submit] {float:right;clear:both;background-color: #1226ef; border: 2px solid #FFF; 
	color: #FFF; width: 10%; height:20px; padding-right: 4px; padding-left: 4px; margin-right: 4px;
border-radius: 8px;
moz-border-radius: 8px;
webkit-border-radius: 8px;
}
.wrapper a {margin-top: 18px;border-left: 2px solid #AAAAAA; margin-left: 8px; margin-right: 8px;
font-size: 13px; color: #FFF; font-weight: bolder;}
.wrapper a:last-child {border-left: 0px;}
.wrapper .login a {text-decoration: none;}
.wrapper .login a {float: right;}

.wrapper #msg
{
position: inherit;
background: rgb(138,19,175);
color: rgb(255,255,255);
width: 700px;
animation: flasha 2s 3s forwards;
-moz-animation: flasha 2s 3s forwards;
-webkit-animation: flasha 2s 3s forwards;
text-align:center;
font-weight: bolder;
z-index: 999;
} 
.main {margin-right: auto; margin-left: auto; background-color: #A4A4A4;
border-radius: 18px;
moz-border-radius: 18px;
webkit-border-radius: 18px;
}
.main .out-links { border-top: 4px solid #EEEEEE;}
ul.out-links li { list-style-type: none; display: inline-block;}
ul.out-links li a {text-decoration: none; color: #3e3e3e; padding: 6px;}
ul.out-links li a:visited {color: #3e3e3e;}
ul.out-links li a:hover {font-weight: bolder;}

@media all and (max-width: 959px)
{

body { width:100%;overflow-x: hidden}
.wrapper {width: 100%; margin: 0px;}
.wrapper p { word-wrap: break-word;}
#dashboard {width: 100%%; float: none; }
.wrapper .login input[type=submit]{ width: 20%;}

}

/* Crafty canvas scene is #cr-stage */
#cr-stage {color: white; font-size: 18px; margin-right:  auto; margin-left: auto;}

@media all and (max-width: 500px)
{
	#cr-stage {font-size: 14px;}
}